body{
    --font-family: 'Nunito Sans', sans-serif;

    --font-family-weight-300: 300;
    --font-family-weight-600: 600;
    --font-family-weight-800: 800;

    --dark--blue: hsl(209, 23%, 22%);
    --very-dark-blue: hsl(207, 26%, 17%);
    --very-dark-blue-text: hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}
