.backButton{
    margin: 2rem 2rem;
    background-color: var(--elements-color);
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 0.8rem 2rem;
    cursor: pointer;
    text-align: center;
    width: 150px;
    border: none;
}

.detailCountryConteiner{
    margin: 2rem 2rem;
    display: flex;
    justify-content: space-between;

}

.detailCountryConteiner img{
    width: 50%;
    height: 50%;
    margin-right: 2rem;
}

.detailCountryConteiner div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailCountryConteiner div h2{
    margin-bottom: 1rem;
}